.wood-selection-button {
    background-color: rgb(106, 57, 53);
}

.wheat-selection-button {
    background-color: rgb(254, 190, 63);
}

.stone-selection-button {
    background-color: rgb(188, 175, 159);
}

.brick-selection-button {
    background-color: rgb(239, 60, 40);
}

.glass-selection-button {
    background-color: rgb(32, 157, 165);
}