.building-card-modal {
    margin-top: auto;
    outline: 0px;
}

.building-card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-right: auto;
    outline: 0ch;
}