.square {
    background: #fff;
    border: 2px solid black;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.selected-square {
    border: 2px solid green;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
  }

.wood {
    background: rgb(106, 57, 53);    
}

.wheat {
    background: rgb(254, 190, 63);
}

.stone {
    background: rgb(188, 175, 159);
}

.brick {
    background: rgb(239, 60, 40);
}

.glass {
    background: rgb(32, 157, 165);
}